{#
 #
 # /views/footer
 #
 # @package WordPress
 # @subpackage 19h47
 # @author Jérémy Levron <jeremyjeremy@19h47.fr> (http://19h47.fr)
 #
 #}
			</div>

	</main>

	<footer class="js-footer l-footer padding-bottom-64 padding-top-32">
		<div class="l-container">

			<div class="row">

				<div class="col-md-2 offset-md-1">
					<p class="font-size-18 margin-0">
						<a class="display-inline-block vertical-align-baseline Link-layer js-navigation" href="{{ page_permalink.who_i_am }}">
							{{- __( 'Who I am' ) -}}
							<span data-text="{{- __( 'Who I am' ) -}}"></span>
						</a>
						<br>
						<a class="display-inline-block vertical-align-baseline Link-layer js-navigation" href="{{ page_permalink.work }}">
							{{- __( 'Work' ) -}}
							<span data-text="{{- __( 'Work' ) -}}"></span>
						</a>
						<br/ >

					</p>
				</div>
				<div class="col-md-3">
					<p class=" font-size-18 margin-0">

						<a class="display-inline-block vertical-align-baseline Link-layer js-navigation" href="{{ page_permalink.what_im_currently_listening_to }}">
							{{- __( "What I\'m currently listening to", '19h47' ) -}}
							<span data-text="{{- __( "What I\'m currently listening to", '19h47' ) -}}"></span>
						</a>
						<br>
						<a class="display-inline-block vertical-align-baseline Link-layer js-navigation" href="{{ page_permalink.what_inspires_me }}">
							{{- __( 'What inspires me', '19h47' ) -}}
							<span data-text="{{- __( 'What inspires me', '19h47' ) -}}"></span>
						</a>

						<br class="display-md-none">
						<a class="display-md-none display-inline-block vertical-align-baseline Link-layer js-navigation" href="{{ page_permalink.thoughts }}">
							{{- __( 'Thoughts', '19h47' ) -}}
							<span data-text="{{- __( 'Thoughts', '19h47' ) -}}"></span>
						</a>
					</p>
				</div>



				<div class="col-md-3">
					<p class="font-size-18 margin-0">
						<a class="display-inline-block vertical-align-baseline Link-layer" href="https://twitter.com/19h47" target="_blank" rel="noopener noreferer">
							{{- __( 'Twitter', '19h47'  ) -}}
							<span data-text="{{- __( 'Twitter', '19h47'  ) -}}"></span>
						</a>
						<br>
						<a class="display-inline-block vertical-align-baseline Link-layer" href="https://github.com/19h47" target="_blank" rel="noopener noreferer">
							{{- __( 'Github', '19h47' ) -}}
							<span data-text="{{- __( 'Github', '19h47' ) -}}"></span>
						</a>
					</p>
				</div>

				{# Paint control #}
				<div class="col-md-2 display-none display-lg-block">
					<p class="font-size-18 margin-0">

						<a class="js-save Paint__control display-inline-block vertical-align-baseline Link-layer" href="#" target="_blank">
							{{- __( 'Save me', '19h47'  ) -}}
							<span data-text="{{- __( 'Save me', '19h47'  ) -}}"></span>
						</a>
						<br>
						<button class="js-clear Paint__control display-inline-block vertical-align-baseline Link-layer js-navigation">
							{{- __( 'Clear me', '19h47' ) -}}
							<span data-text="{{- __( 'Clear me', '19h47' ) -}}"></span>
						</button>

					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 offset-md-1">
					<p class="font-size-13 uppercase letter-spacing-100 font-weight-medium">
						{{- __( 'Front-end developer', '19h47' ) -}}
					</p>
				</div>

				<div class="col-md-5 text-align-md-right">
					<p class="font-size-13 uppercase letter-spacing-100 font-weight-medium">
						{# {{ "now"|date("l, d F, Y") }} #}
						{{- __( 'Born', '19h47' ) }} {{ age }} {{ __( 'years ago', '19h47' ) -}}
					</p>
				</div>

			</div>

		</div>
	</footer>
	{{ wp_footer }}
	{{- include( 'components/guid.twig' ) -}}
</body>
</html>
