{#

	/**
	 * /views/footer
	 * 
	 * @package WordPress
	 * @subpackage 19h47
	 * @author Jérémy Levron levronjeremy@19h47.fr
	 */
	
#}				
			</div>
		
	</main>
	
	<footer class="js-footer l-footer margin-xs-bottom-64 margin-xs-top-32">
		<div class="l-container">

			<div class="row">

				<div class="col-xs-12 col-md-2 col-md-offset-1">
					<p class="font-size-18 no-margin-xs no-margin-sm">
						<a class="display-xs-inline-block valign-baseline Link-layer js-navigation" href="{{ page_permalink.who_i_am }}">
							Who I am
							<span data-text="Who I am"></span>
						</a>
						<br>
						<a class="display-xs-inline-block valign-baseline Link-layer js-navigation" href="{{ page_permalink.works }}">
							Works
							<span data-text="Works"></span>
						</a>
						<br>
						
					</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class=" font-size-18 no-margin-xs no-margin-sm">

						<a class="display-xs-inline-block valign-baseline Link-layer js-navigation" href="{{ page_permalink.what_im_currently_listening_to }}">
							What I'm currently listening to
							<span data-text="What I'm currently listening to"></span>
						</a>
						<br>
						<a class="display-xs-inline-block valign-baseline Link-layer js-navigation" href="{{ page_permalink.what_inspires_me }}">
							What inspires me
							<span data-text="What inspires me"></span>
						</a>

					</p>
				</div>

				<div class="col-xs-12 col-md-3">
					<p class=" font-size-18">
						<a class="display-xs-inline-block valign-baseline Link-layer" href="https://twitter.com/19h47" target="_blank">
							Twitter
							<span data-text="Twitter"></span>
						</a>
						<br>
						<a class="display-xs-inline-block valign-baseline Link-layer" href="https://github.com/19h47" target="_blank">
							Github
							<span data-text="Github"></span>
						</a>
					</p>
				</div>
				
				{# Paint control #}
				<div class="col-xs-12 col-md-2 hidden-xs hidden-sm">
					<p class=" font-size-18">

						<a class="js-save Paint__control display-xs-inline-block valign-baseline Link-layer" href="#" target="_blank">
							Save me
							<span data-text="Save me"></span>
						</a>
						<br>
						<button class="js-clear Paint__control display-xs-inline-block valign-baseline Link-layer js-navigation">
							Clear me
							<span data-text="Clear me"></span>
						</button>

					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-5 col-md-offset-1">
				
					<p class="font-size-13 uppercase letter-spacing-100 font-medium ">
						Creative front-end developer
					</p>
				</div>

				<div class="col-xs-12 col-md-5 text-md-right">
					<p class="font-size-13 uppercase letter-spacing-100 font-medium ">
						{# {{ "now"|date("l, d F, Y") }} #}
						Born {{ age }} years ago
					</p>
				</div>
	
			</div>

		</div>
	</footer> 
	{{ wp_footer }}
		{% include 'components/guid.twig' %}
</body>
</html>
