{#

	/**
	 * /views/header
	 *
	 * @package WordPress
	 * @subpackage lecafedelaquarium
	 * @author Jérémy Levron jeremy@poigneedemainvirile.com
	 */

#}
<!DOCTYPE html>
<html {{ language_attributes }} {{ fn( 'html_class', 'no-js' ) }}>
	<head>
		<meta charset="{{ site.charset }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

		{{ wp_head }}

		{% include 'components/google-analytics.twig' %}

	</head>
	<body class="background-black h-xs-100 w-xs-100">
		<div id="barba-wrapper" class="h-xs-100 w-xs-100">
			<header class="l-header margin-xs-top-64 margin-xs-bottom-32">
				<div class="l-container">
					<div class="row">
						<div class="col-xs-12 col-md-10 col-md-offset-1">

							<div class="row">

								<div class="col-xs-4">
									<h1 class="font-medium font-size-24 color-white no-margin display-xs-inline-block valign-baseline">
										<a href="{{ site.url }}">
											{{ site.name }}
										</a>
									</h1>
								</div>
								
								<div class="col-xs-2 text-xs-right">
									<a class="no-margin font-size-13 uppercase letter-spacing-100 font-medium display-xs-inline-block valign-baseline Link-layer" href="{{ page_permalink.what_i_currently_listening }}" data-namespace="what-i-currently-listening">
										What I currently listening
										<span data-text="What I currently listening"></span>
									</a>
								</div>

								<div class="col-xs-2 text-xs-right">
									<a class="no-margin font-size-13 uppercase letter-spacing-100 font-medium display-xs-inline-block valign-baseline Link-layer" href="{{ page_permalink.what_inspires_me }}" data-namespace="what-inspires-me">
										What inspires me
										<span data-text="What inspires me"></span>
									</a>
								</div>

								<div class="col-xs-2 text-xs-right">
									<a class="no-margin font-size-13 uppercase letter-spacing-100 font-medium display-xs-inline-block valign-baseline Link-layer" href="{{ page_permalink.who_i_am }}">
										Who I am
										<span data-text="Who I am"></span>
									</a>
								</div>
								
								<div class="col-xs-2 text-xs-right">
									<a class="no-margin font-size-13 uppercase letter-spacing-100 font-medium display-xs-inline-block valign-baseline Link-layer" href="{{ page_permalink.what_i_do }}">
										What I do
										<span data-text="What I do"></span>
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</header>
			<main {{ body_class( 'barba-container h-xs-100 w-xs-100' ) }} {{ barba_namespace() }}>
				<div class="display-xs-table h-xs-100 w-xs-100">
					<div class="display-xs-table-cell vertical-align-middle padding-xs-top-96 padding-xs-bottom-96">	