{#
/**
 * /views/pages/_header
 *
 * @param 		class
 * @param 		title
 * @package 	WordPress
 * @subpackage 	19h47
 * @author 		Jérémy Levron <jeremyjeremy@19h47.fr> (http://19h47.fr)
 */
#}
<header class="row">
	<div class="col-md-10 offset-md-1">

		<{{ link ? 'a href="' ~ link ~ '" ' : 'p' }} class="{{ class ? class ~ ' ' : 'opacity-40 ' }}font-size-13 line-height-32 margin-0 uppercase letter-spacing-100 font-weight-medium{{ link ? ' Link-layer' }}">
			{{ title ? title : post.title }}
			<span data-text="{{ title ? title : post.title }}"></span>
		</{{ link ? 'a' : 'p' }}>
		
	</div>
</header>