{#
/**
 * /views/pages/_header
 *
 * @param 		class
 * @param 		title
 * @package 	WordPress
 * @subpackage 	19h47
 * @author 		Jérémy Levron levronjeremy@19h47.fr
 */
#}
<header class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">

		

		<{{ link ? 'a href="' ~ link ~ '" ' : 'p' }} class="{{ class ? class ~ ' ': ' color-white opacity-40 ' }}font-size-13 line-height-32 no-margin uppercase letter-spacing-100 font-medium{{ link ? ' Link-layer' }}">
			{{ title ? title : post.title }}
			<span data-text="{{ title ? title : post.title }}"></span>
		
		</{{ link ? 'a' : 'p' }}>
		
	</div>
</header>