{#

	/**
	 * /views/page/curriculum-vitae
	 *
	 * @package WordPress
	 * @subpackage 19h47
	 * @author Jérémy Levron levronjeremy@19h47.fr
	 */

#}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		{{ wp_head }}
		{% include 'components/google-analytics.twig' %}
	</head>
	<body>

		{% include 'components/transition.twig' %}

		<main id="barba-wrapper" class="js-wrapper h-xs-100">

			<div {{ body_class( 'barba-container padding-md-bottom-224 padding-xs-top-96' ) }} {{ barba_namespace() }}>

				<header class="l-header margin-xs-top-64 margin-xs-bottom-32">
					<div class="l-container">
						

						<div class="row">

							<div class="col-xs-12 col-md-4 col-md-offset-1">
								<h1 class="font-medium font-size-24 line-height-32 no-margin z-index-1 position-xs-relative">
									<a href="http://19h47.fr" class="no-barba">
										Jérémy Levron<sup class="valign-text-top opacity-40 font-size-13 uppercase letter-spacing-100 font-medium">19h47</sup>
									</a>
								</h1>
							</div>

						</div>
					</div>
				</header>
				
				<div class="l-container">
					<div class="row margin-xs-top-128">
						<div class="col-xs-12 col-md-8 col-md-offset-1">
							<p>Hello,</p>
						</div>
						<div class="col-xs-12 col-md-2">
				
							<p class="uppercase opacity-40 letter-spacing-100 ">
								<span class="font-size-13">
									Informations
								</span>
							</p>
						</div>
					</div>
						
					<div class="row">
						<div class="col-xs-12 col-md-7 col-md-offset-1">
							<p>

								I'm Jérémy Levron an enthusiastic and creatif<br>front-end developer looking for a job.<br>
								I'm available from October 2017.<br>
								<br>
								I was born in the beautiful year of 1986, and you can reach me at <a class="font-medium" href="mailto:levronjeremy@19h47.fr" target="_blank">levronjeremy[at]19h47.fr</a>.<br>
								<br>
								Oh, and my <span class="font-medium">Github account</span> is <a href="https://github.com/19h47" target="_blank">right here. 🚀</a>
							</p>
						</div>

						<div class="col-xs-12 col-md-2 col-md-offset-1">
								
			
							<p> 
								<span class="font-size-18">
								
								0609187529
								<br>
								<a href="mailto:levronjeremy@19h47.fr" target="_blank">levronjeremy[at]19h47.fr</a>
								</span>
							</p>
	
						</div>
						
					</div>
					
					<div class="row margin-xs-top-64">
					
						<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
							<p class="uppercase font-size-13 opacity-40 letter-spacing-100 ">
								Experiences
							</p>
						</div>
					</div>
					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2015-2017
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<a class="font-medium" href="http://www.poigneedemainvirile.com/" target="_blank">Poignée de main virile</a>,<br>
								Nantes, France
							</p>
						</div>
						<div class="col-xs-12 col-md-3">
							<p>
								<span class="font-size-13">
									Font-end developer
								</span>
							</p>
						</div>
					</div>


					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2014-today
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								Freelance
							</p>
						</div>
						<div class="col-xs-12 col-md-3">
							<p>
								<span class="font-size-13">
									Font-end developer
								</span>
							</p>
						</div>
					</div>

					<div class="row margin-xs-top-64">
					
						<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
							<p class="uppercase font-size-13 opacity-40 letter-spacing-100">
								Formations
							</p>
						</div>
					</div>

					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2009
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-medium">École des Beaux Arts</span>,<br>
								Tours, France
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									Beaux arts
								</span>
							</p>
						</div>
					</div>
					
					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2008
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-medium">École Brassart</span>,<br>
								Tours, France
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									Visual communication
								</span>
							</p>
						</div>
					</div>


					<div class="row margin-xs-top-64">
					
						<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
							<p class="uppercase font-size-13 opacity-40 letter-spacing-100 ">
								Awards
							</p>
						</div>
					</div>
					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2017
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<a class="font-medium" href="http://www.cssdesignawards.com/sites/19h47/30606/">CSSDesignAwards</a>,<br>
								SOTD
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									<a class="font-medium" href="http://19h47.fr/" target="_blank">19h47</a>, personal portfolio
								</span>
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2017
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<a class="font-medium" href="http://www.frenchdesignindex.com/design-index-13178">French Design Index</a>,<br>
								Site du jour
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									<a class="font-medium" href="http://19h47.fr/" target="_blank">19h47</a>, personal portfolio
								</span>
							</p>
						</div>
					</div>

					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2017
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<a class="font-medium" href="http://www.cssdsgn.com/19h47/">CSSDSGN</a>,<br>
								Selection
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									<a class="font-medium" href="http://19h47.fr/" target="_blank">19h47</a>, personal portfolio
								</span>
							</p>
						</div>
					</div>

					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2017
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<a class="font-medium" href="http://thegallery.io/inspirations/2017/jeremy-levron">The Gallery</a>,<br>
								Selection
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									<a class="font-medium" href="http://19h47.fr/" target="_blank">19h47</a>, personal portfolio
								</span>
							</p>
						</div>
					</div>


					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								Futur
							</p>
						</div>
						<div class="col-xs-12 col-md-8">
							<p>
								More and more to come, maybe with you? 😉</span>
							</p>
						</div>

					</div>

					<div class="row margin-xs-top-64">
					
						<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
							<p class="uppercase font-size-13 opacity-40 letter-spacing-100 ">
								References
							</p>
						</div>
					</div>
					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2017
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<a href="http://www.cafe-aquarium.com/fr/" target="_blank">Le Café de l'Aquarium</a>
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									Website created at <a href="http://19h47.fr/" target="_blank">Poignée de main virile</a>
								</span>
							</p>
						</div>
					</div>

					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2017
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span>Isabelle Lunettes</span>
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									Website created at <a href="http://poigneedemainvirile.com/" target="_blank">Poignée de main virile</a>
								</span>
							</p>
						</div>
					</div>

					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2017
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span>19h47</span>
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									Personal portfolio
								</span>
							</p>
						</div>
					</div>

					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2017
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<a href="http://www.les48h.fr/" target="_blank">Les 48h de l'agriculture urbaine</a>

							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									Website created with <a href="http://lesindiens.fr/" target="_blank">Les Indiens</a>
								</span>
							</p>
						</div>
					</div>

					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2016
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<a href="http://www.antigel.agency/" target="_blank">Antigel</a>

							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									Website created at <a href="http://poigneedemainvirile.com/" target="_blank">Poignée de main virile</a>
								</span>
							</p>
						</div>
					</div>
					<div class="row">

						<div class="col-xs-12 col-md-2 col-md-offset-1">
							<p>
								2015
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<a href="http://www.180g.fr/" target="_blank">180g</a>

							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<p>
								<span class="font-size-13">
									Website created at <a href="http://poigneedemainvirile.com/" target="_blank">Poignée de main virile</a>
								</span>
							</p>
						</div>
					</div>

					<div class="row margin-xs-top-128">
						<div class="col-xs-12 col-md-10 col-md-offset-1">
						 	<p class="font-size-13">
							 	Pssst, if you love grid, you can display one with <code>ctrl + :</code>
						 	</p>
					 	</div>
					</div>
					
					
				</div>

			</div>
		</main>

		<footer class="margin-xs-bottom-64 margin-xs-top-64">
			<div class="l-container">
				<div class="row">
					<div class="col-xs-12 col-md-5 col-md-offset-1">
					
						<p class="font-size-13 uppercase letter-spacing-100 font-medium ">
							Jérémy Levron, Creative front-end developer
						</p>
					</div>

					<div class="col-xs-12 col-md-5 text-md-right">
						<p class="font-size-13 uppercase letter-spacing-100 font-medium ">
							Born {{ age }} years ago
						</p>
					</div>
		
				</div>

			</div>
		</footer> 

		
		{{ wp_footer }}
		{% include 'components/guid.twig' %}
	</body>	
</html>