{#
/**
 * /views/pages/thoughts
 *
 * @package 	WordPress
 * @subpackage 	19h47
 * @author 		Jérémy Levron <jeremyjeremy@19h47.fr> (http://19h47.fr)
 */
#}
{% extends 'index.twig' %}

{% block start_wrapper %}
	<div class="margin-top-64 margin-bottom-64">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
	
	{% for post in posts %}

		<article class="row margin-y-64" id="post-{{ post.ID }}">
			<div class="col-md-10 offset-md-1">
				
				<p class="opacity-40 font-size-13 line-height-32 margin-0 uppercase letter-spacing-100 font-weight-medium">
					{{- post.date( 'F j, Y' ) -}}
				</p>

				<h2 class="margin-top-0">
					{{- post.title -}}
				</h2>

			</div>

			{% if post.thumbnail %}
				<div class="col-md-10 offset-md-1">
					<p>
						<img src="{{ post.thumbnail.src }}" class="img-full box-shadow"/>

						{% if post.thumbnail.caption %}
							<span class="display-block font-size-13 font-weight-regular text-align-right">
								{{ post.thumbnail.caption }}
							</span>
						{% endif %}
					</p>
				</div>
			{% endif %}

			<div class="col-md-8 offset-md-2">{{- post.content -}}</div>
		</article> 

	{% endfor %}

{% endblock %}

{% block end_wrapper %}
	</div>
{% endblock %}