{#
/**
 * /views/pages/work-archive
 *
 * @package 	WordPress
 * @subpackage 	19h47
 * @author 		Jérémy Levron <jeremyjeremy@19h47.fr> (http://19h47.fr)
 */
#}
{% extends 'index.twig' %}


{% block start_wrapper %}
	<div class="margin-top-64 margin-bottom-64">
{% endblock %}


{% block header %}
	{% include 'pages/_header.twig' with { 'title': 'Work, work, work' } %}
{% endblock %}


{% block content %}
			
	{% for post in posts %}
		<div class="row margin-top-32 margin-bottom-32">
			<div class="col-1 offset-1 d-none d-md-block">
				
				<a class="js-to-work-single Work-archive__color" href="{{ post.link }}" style="background-color: {{ post.get_field( 'color' ) }}" data-namespace="page" data-color="{{ post.get_field( 'color' ) }}"></a>

			</div>
			<div class="col-md-9">
				<p class="color-white margin-top-8 margin-bottom-0">
					
						<a class="js-to-work-single font-weight-medium" href="{{ post.link }}" data-namespace="page" data-color="{{ post.get_field( 'color' ) }}">{{ post.title }}</a>
						<sup class="hidden-xs vertical-align-text-top opacity-40 font-size-13 uppercase letter-spacing-100 font-weight-medium">
							{{ post.meta( 'year' ) | date( 'Y' ) }}
						</sup>
				</p>
					

					{% if post.meta( 'role' ) %}
						<p class="font-weight-light margin-0">
							{{- post.meta( 'role' ) | map( role => role.name ) | join( ', ' ) -}}
						</p>
					{% endif %}
			</div>
		</div>
	{% endfor %}

{% endblock %}

{% block footer %}

	<footer class="row">
		<div class="col-md-10 offset-md-1">
			<p class="color-white font-weight-light">
				<small>	
					This <a class="font-weight-medium" href="https://github.com/19h47/19h47.fr" target="_blank" rel="noopener noreferer">website</a> is created with <a class="font-weight-medium" href="https://wordpress.org/" target="_blank" rel="noopener noreferer">WordPress</a>, <a class="font-weight-medium" href="https://upstatement.com/timber/" target="_blank" rel="noopener noreferer">Timber</a>, <a class="font-weight-medium" href="http://barbajs.org/" target="_blank" rel="noopener">Barba.js</a>. Typeface is <a class="font-weight-medium" href="https://fonts.google.com/specimen/Work+Sans" target="_blank" rel="noopener noreferer">Work Sans</a>.
				</small>
			</p>
		</div>
	</footer>

{% endblock %}
